/* CSS Document */
body {
	background: red;
}

#wrapper {
	border: thin solid black;
	height: 100vh;
}

#top-header {
	font-size: 90px;
}

#footer {
	text-align: center;
	padding: 5px;
	border-top: thin solid black;
}

#main-content {
	border-left: thin solid black;
	background: red;
}

#main {
	border-left: thin solid black;
}

.navbar {
	width: 100%;
}

#horizontalnav {
	border: 2px solid red;
}

