

#wrapper {
    border: thin solid black;
}

#top-header {
    font-size: 60px;
}

#horizontalnav {
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

#main-content {
    /*border-left: thin solid black;*/
    /*background: red;*/
}

#center {
    height: 100%;
    background: rgba(211, 211, 211, 0.1);
}

.navbar {
    width: 100%;
}

#footer {
    text-align: center;
    padding: 5px;
    border-top: thin solid black;
}